header{
    background-color: yellowgreen;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

nav{
    background-color: aqua;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

a{
    background-color:mediumslateblue;
    border-radius: 10px;
    padding: 10px;
    color: black;
}

main{
    background-color: black;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
}

article{
    background-color:gold ;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
}

h2{
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}
